/*Variables */
:root {
  --hue: 200;
  --saturation: 70%;
  --lightness: 55%;
  --main-color: hsl(var(--hue), var(--saturation), var(--lightness));

  /* Text colors */
  --text-white: hsl(0, 0%, 100%);
  --text-light-gray: hsl(0, 0%, 96%);
  --text-x-dark-gray: hsl(0, 0%, 10%);
  --text-dark-gray: hsl(0, 0%, 20%);

  /* bg colors */
  --body-bg-color: hsl(var(--hue), 60%, 94%);
  --bg-color: hsl(var(--hue), 60%, 96%);
  --bg-white: hsl(0, 0%, 100%);

  /* Border color */
  --border-color: hsl(var(--hue), 48%, 80%);

  /* Shadow */
  --shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.3);
  --focus-shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.6);

  /* font-size */
  --fs-4xl: 3.125rem;
  --fs-3xl: 2.1875rem;
  --fs-2xl: 1.625rem;
  --fs-xl: 1.25rem;
  --fs-1g: 1.125rem;
  --fs-md: 1rem;
  --fs-sm: 0.875rem;
}

/* Base */
html {
  scroll-behavior: smooth; /*Un scroll suave*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: var(--fs-md);
  line-height: 1.5;
  color: var(--text-dark-gray);
  background-color: var(--body-bg-color);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

ul {
  text-decoration: none;
}

::selection {
  color: var(--text-white);
  background-color: var(--main-color);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--body-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

/* Page wrapper */
.page-wrapper {
  overflow: hidden;
}
/* container */
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

/* #header */
.header {
  position: fixed; /* Deja fijo el menu*/
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 10px 0;
}

.header::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  z-index: -1;
  transform: translateY(calc(-100% - 10px));
  transition: transform 0.5s ease;
}

.header.bg-reveal::before {
  transform: translateY(0);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo a {
  font-size: 1.75rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  display: block;
  transform: scaleY(0.9);
  letter-spacing: 2px; /*Espaciado horizontal*/
}

.header .logo span {
  font-size: 0.75rem;
  display: block;
  font-weight: 400;
  color: var(--text-x-dark-gray);
  letter-spacing: 1px;
}

.nav li {
  display: inline-block;
  margin-left: 35px;
}

.nav a {
  text-transform: capitalize; /*Capitaliza el la primera letra*/
  font-size: var(--fs-md);
  color: var(--text-dark-gray);
  font-weight: 400;
  display: block;
  padding: 10px 0;
  transition: color 0.3s ease; /*Cambio de valores de propiedades durante un periodo de tiempo*/
}

.nav a:hover {
  color: var(--main-color);
}

.nav-toggler {
  display: none;
}
