/node_modules
/public/hot
/public/storage
/public/users/documents
/public/documents
/public/images/operators
/public/images/equipment_requests
/public/images/users
/public/images/tickets
/public/images/news
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets